@model TestWeb.Models.Security
@Html.ValidationSummary()

@using (Html.BeginForm("Index", "Security", FormMethod.Post))
{
    <h3> Input you login and password</h3>
    <fieldset>
        <div class="mb-3">
            @Html.LabelFor(p => p.Login)
            <br />
            @Html.EditorFor(p => p.Login)
            @Html.ValidationMessageFor(p => p.Login)
        </div>
        <div>
            @Html.LabelFor(p => p.Password)
            <br />
            @Html.PasswordFor(p => p.Password)
            @Html.ValidationMessageFor(p => p.Password)
        </div>
        <button type="submit" class="btn btn-primary" name="Submit">Submit</button>
    </fieldset>
}
@{Html.EndForm();}